*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root {
    --color-primary: rgb(57, 57, 87);
    --color-white: rgb(226, 226, 226);
    --pic-highlight: rgb(203, 195, 227);
}

body {
    font-family: 'Poppins', sans-serif;
}
header {
  position: sticky;
  top: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    min-height: 7vh;
}

nav h1 {
    font-size: 20px;
    letter-spacing: 5px;
    padding: 0 100px;
    text-transform:uppercase;

  }
  
nav a {
    text-decoration: none;
    color: var(--color-white);
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
  }
    
nav ul li a {
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 16px;
  }

.white-glow {
    color: white;
    font-weight: bold;
}

.hero-img {
    position: relative;
    padding: 150px;
    background-image: url('../images/nordwood-themes-R53t-Tg6J4c-unsplash.jpg'); 
  }

section {
  padding: 8px;
}

  
.flex-container {
    display:flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-white);
}

  .section-title {
    font-size: 25px;
    text-align: right;
    color: var(--color-white);
    border-right: 8px solid grey;
    width: 300px;
    padding-right: 8px;
  }

  .section-content{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: right;
  }

.work-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:70%;
  
}

.row-2 {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 50%;
}

.row-3 {
  display:flex;
  justify-content: center;
  height: 300px;
  width: 50%;
}


.contact-container {
  display: flex;
  width: 80%;
  height: 300px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.grid-item {
  display:flex;
  text-align: center;
  border: 1px solid var(--pic-highlight);
  opacity: 1;
}

.grid-item:hover {
  opacity: .5;
}

.run-buddy {
    display:flex;
    flex-wrap: wrap;
    background-image: url('../images/run-buddy\ image.jpeg');
    background-size: cover;
    height: 300px;
    width: 50%;
}

.horiseon {
  background-image: url('../images/horiseon.png');
  background-size: cover;
  width:50%;
}

.coming-soon {
  background-image: url('../images/coming-soon.jpg');
  background-size:cover;
  width: 50%;
}

.flex-container img {
    width: 300px;
    height:300px;    
}

.flex-container p {
  padding: 10px;
  line-height: 1.5;
}

.contact-container ul li a{
  color: white;
  font-size: 30px;
}

.contact-container ul {
  display:flex;
  color: white;
  list-style: none;
}

.contact-container li {
  padding: 30px;
}
