* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* SET VAR COLORS */

:root {
  --color-primary: rgb(57, 57, 87);
  --color-white: rgb(226, 226, 226);
  --purple-highlight: rgb(203, 195, 227);
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: sticky;
  top: 0;
}

/* BEGIN NAV STYLING */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  min-height: 7vh;
}

nav h1 {
  font-size: 20px;
  letter-spacing: 5px;
  padding: 0 100px;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: var(--color-white);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

nav ul li a {
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 16px;
}

header nav ul li a:hover {
  background: var(--color-primary);
  color: var(--purple-highlight);
  border-radius: 30px;
  text-shadow: none;
}

.white-glow {
  color: white;
  font-weight: bold;
}

.white-glow:hover {
  background: var(--color-primary);
  color: var(--purple-highlight);
  border-radius: 30px;
  text-shadow: none;
}

/* END NAV STYLING */

/* BEGIN HERO IMAGE AND TEXT STYLING */

.hero-img {
  position: relative;
  padding: 150px;
  background-image: url("../images/nordwood-themes-R53t-Tg6J4c-unsplash.jpg");
}

.hero-img p {
  position: absolute;
  font-style: italic;
  font-size: 30px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 5px solid var(--purple-highlight);
  bottom: 10px;
  right: 30px;
  width: 35%;
}

/* END HERO IMAGE AND TEXT STYLING */
section {
  padding: 8px;
}

/* STYLE FLEX CONTAINER */

.flex-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.flex-container img {
  width: 300px;
  height: 300px;
}

.flex-container p {
  padding: 10px;
  line-height: 1.5;
}

.section-title {
  font-size: 25px;
  text-align: right;
  color: var(--color-white);
  border-right: 8px solid grey;
  width: 300px;
  padding-right: 8px;
}

.section-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: right;
}

/* END FLEX CONTAINER STYLING */



.about-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

/* BEGIN WORK CONTAINER AND GRID STYLING  */

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.grid-row-2 {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 50%;
}

.grid-row-3 {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 50%;
}

.grid-item {
  display: flex;
  text-align: center;
  border: 1px solid var(--purple-highlight);
  opacity: 1;
}

.grid-item:hover {
  opacity: 0.5;
}

.run-buddy {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/run-buddy\ image.jpeg");
  background-size: cover;
  height: 300px;
  width: 50%;
}

.run-buddy:hover{
  height: 400px;
}

.horiseon {
  background-image: url("../images/horiseon.png");
  background-size: cover;
  width: 35%;
}

.unleashed {
  background-image: url("../images/Unleashed.png");
  background-size: cover;
  width: 70%;
}

.horiseon:hover {
  width: 60%;
  overflow:hidden;
}

.coming-soon {
  background-image: url("../images/coming-soon.jpg");
  background-size: cover;
  width: 65%;
}

.coming-soon:hover{
  width: 80%;
}

/* END WORK GRID STYLING  */

/* BEGIN CONTACT CONTAINER STYLING  */

.contact-container {
  display: flex;
  justify-content: flex-start;
  height: 200px;
  width: 70%;
}

.contact-container ul li a {
  color: white;
  font-size: 20px;
}

.contact-container ul {
  display: flex;
  color: white;
  list-style: none;
}

.contact-container li {
  padding: 30px;
}

/* END CONTACT CONTAINER STYLING  */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  header nav h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .hero-img{
    padding: 50px;
  }
  
  .hero-img p {
    display: flex;
    flex-direction: space-around;
    position: relative;
    width: 75%;
    left: 100px;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

  }

  .section-title {
    width: 30%;
    text-align: center;
  }

  .run-buddy {
  width: 100%;
}

.grid-row-2 {
  width: 100%;
}

.grid-row-3 {
  width:100%;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

.contact-container {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.contact-container li {
  padding: 15px;
}

.contact-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container img {
  width: 275px;
  height: 325px;
}

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  nav h1 {
    font-size: 18px;
    letter-spacing: 7px;
  }

  header nav ul li a {
    font-size: 13px;
  }

  .hero-img{
    padding: 25px;
  }

  .hero-img p {
    left: 60px;
    margin-top: 12px;
    font-size: 20px;
  }

  .section-title {
    width: 25%;
    font-size: 15px;
    text-align: left;
  }


  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .contact-container li {
    padding: 5px;
  }
  

.contact-container ul li a {
  color: white;
  font-size: 14px;
}
  }
}